1. colums check how many types of datatypes are there
2. we need the datatypes of the columns filename.info() to get the datatypes of all of the columns
3. !pip install pandas-profiling

In [3]:
# installing the CSV file from the API, do this task in terminal prompt before the model
medical_charges_url="https://raw.githubusercontent.com/JovianML/opendatasets/master/data/medical-charges.csv"

from urllib.request import urlretrieve
urlretrieve(medical_charges_url,'medical.csv')

# this comes at terminal only before the setup

('medical.csv', <http.client.HTTPMessage at 0x1b3d74b02d0>)

In [4]:
# now creating a pandas dataframe using the downloaded file, to view and analyze the data
import pandas as pd

medical_df = pd.read_csv('./medical.csv')

# 7 cols and 1338 rows initially

In [5]:
# step 2
medical_df.info()   # this gives the datatype for each of the columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [6]:
# step 3: find the statistics of the numerical col. -> mean, median, std form, min-max,
medical_df.describe()   # this automatically gives the numerical column statistics

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [ ]:
# install jovian library in terminal
import jovian as jv